/*
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*   http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*
*
* Use custom.css to override the default CloudStack styles
*/

/*Login screen*/
body.login {
  background: none !important;
  background-color: #ffffff;
  overflow: hidden;
}

.login {
  background: #003e7e;
  display: block;
  width: 100%;
  height: 350px;
  position: relative;
  left: 0;
  top: 80px;
}

.login.nologo .logo {
  background-image: url(../images/logo-login-oss.png);
  background-repeat: no-repeat;
  background-size: 300px 49px;
}

.login .logo {
  width: 300px;
  height: 49px;
  float: left;
  margin: 72px 0 0 159px;
  background: url(../images/logo-login.png) no-repeat 0 0;
}

.login form {
    background: #003e7e none repeat scroll 0 0;
    display: block;
    height: 100%;
    margin: auto;
    width: 1000px;
}

/*Header*/
#header {
  background: rgb(0, 62, 126) none repeat scroll 0 0;
  width: 100%;
  height: 135px;
  background-color: #003e7e;
  background-size: auto, cover;
  position: relative;
}

#header.nologo div.logo {
  width: 1024px;
  height: 47px;
  margin: auto;
  background: url(../images/logo.png) no-repeat 0 center;
  background-size: 250px 41px;
  /*+placement:shift 0px 15px;*/
  position: relative;
  left: 0px;
  top: 15px;
}

#user div.options {
  float: left;
  width: 11px;
  height: 28px;
  /*+placement:shift 0px 0px;*/
  position: relative;
  left: 0px;
  top: 0px;
  background-position: 0px -867px;
  cursor: pointer;
}

#navigation ul li:hover,
#navigation ul li.active {
  width: 230px;
  background: #003e7e;
  /*+box-shadow:inset 0px 0px 7px #000000;*/
  /*-moz-box-shadow: inset 0px 0px 7px #000000;
  -webkit-box-shadow: inset 0px 0px 7px #000000;
  -o-box-shadow: inset 0px 0px 7px #000000;
  box-shadow: inset 0px 0px 7px #000000;*/
}